
.submit
{
	font-family: 'Raleway', sans-serif;
	position: relative;
		top :5px;
		left :75px;
}
.Monthhead
{
	position: relative;
	left:50;
	width: 1150px;
	height: 50px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.calendar
{
	position: relative;
	left:20;
	text-align: center;
	width: 1150px;

}
div.date,div.days,div.blankday
{	
	font-family: 'Raleway', sans-serif;
	width: 155px;
	float: left;
	text-align: center;
	border bottom: : 5px ;
   	border-radius: 10px;
   	margin :2px;
}
.blankday
{
	background: #FAFAFA;
	height:120px;
	text-align: center;
}
div.days
{
	font-weight:bold;
}
div.date
{

	height:120px;
	text-align: center;
	background : #DAF5FF;
}
.today
{
	background: #A9D0F5;
	font-family: 'Raleway', sans-serif;
	width: 155px;
	float: left;
	margin: 2px;
	height:120px;
	border bottom: : 5px ;
   	border-radius: 10px;
	text-align: center;
}

.datac
{
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	right:170px;
	top :70px;
	width: 200px;
	height: 120px;
	background-color:#A9F5F2;
	border bottom: : 5px solid color:#CEF6EC ;
   	border-radius: 10px;
}

div.gtappointment
{
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	right:170px;
	top :220px;
	width: 200px;
	height: 60px;
	background-color:#F5F6CE;
	border bottom: : 5px solid color:#FBC94B ;
   	border-radius: 10px;
}

div.app
{
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	right:170px;
	top :220px;
	display: none;
	width: 200px;
	height: 200px;
	background-color:#F5F6CE;
	border bottom: : 5px solid color:#FBC94B ;
   	border-radius: 10px;

}