.form
	{
		position: relative;
		top :100px;
		left :500px;
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		color: #FA58D0;
		background-color:#81F7D8;
		width: 500px;
		height: 350px;
		border bottom: : 5px solid color:#FBC94B ;
   	    border-radius: 10px;
	}
.submit
{
	font-family: 'Raleway', sans-serif;
	position: relative;
		top :120px;
		left :175px;
}
.ftext
{
	position :relative;
	left : 10px;
	top : 10px;
	font-family: 'Raleway', sans-serif;
		font-size: 20px;
}

.ads
{
 position: :relative;
 left:0px;
 top:0px;
}