div.ads
{
	position: absolute;
	top:100px;
	left:100px;
	width:66%;
	height:100%;
	 font-family: 'Raleway', sans-serif;
	 font-size: 30px;
	 font-weight: bold;
}
.detail
{
	font-size: 15px;
	font-weight:normal;
}

.login
{
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top:0px;
	right:0px;
	width:34%;
	height:100%;
	background:#92DFFD;
}

.register 
	{
		display: none;
		position: relative;
		top :30px;
		left :30px;
		font-size: 19px;
	}

.loginid
{
	position: relative;
	top :30px;
	left :30px;
	font-size: 19px;
}
.btt
{
		font-family: 'Raleway', sans-serif;
		position: relative;
		top :5px;
		left :150px;
}
.head
{
		position: relative;
		top :30px;
		left :85px;
		font-size: 30px;
		font-weight: bold;
	}
.bttreg
{
	font-family: 'Raleway', sans-serif;
		position: relative;
		top :3px;
		left :175px;
		font-weight: bold;
}
.bttlogin
{
	display: none;
	font-family: 'Raleway', sans-serif;
		position: relative;
		top :30px;
		left :250px;
		font-weight: bold;
}